<div class="container">
  <div class="hero-section">
    <%= image_tag "Home.jpg", alt: "Imagen" %>
    <%= link_to "Ingresar", offerjobs_path, class: "btn btn-primary button-inside-hero" %>
  </div>
</div>
